#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    grid-template-rows: 50px 200px 50px 650px 50px;
    background: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    grid-area: 1/1/2/9;
    background: rgba(255, 255, 255, 0.5);
    position: sticky;
    top: 0px;
    right: 0px;
}

#logo {
    width: 100px;             
    height: 50px;
    background-image: url("/images/green_logo_on_orange.png");
    background-repeat: no-repeat;
    background-size: 75%;
    margin: 1px;
    float: left;
}

nav {
    grid-area: 1/2/2/8;
    position: sticky;
    top: 0px;
    right: 0px;
}

nav ul {
    list-style-type: none;
    text-align: right;

}

nav ul li {
    display: inline-block;
    margin-left: 60px;
    color: #1F5B31;
    font-weight: bold;
}

nav ul li div {
    color: #CC5500;
}


#homeHero {
    grid-area: 1/1/4/9;
    background-image: url("images/planner_&_laptop.jpg");
    background-position: 50% 60%;
    background-size: cover;
}

main {
    grid-area: 3/2/5/8;
    background: rgba(0, 255, 0, 0.3);
}

footer {
    grid-area: 5/1/6/9;
    background: #1F5B31;
    text-align: right;
    font-size: small;

    display: flex;
    align-items: center;
    justify-content: flex-end;

}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline-block;
    margin-right: 20px;
    color: #FFFFFF;
    font-weight: bold;
}