* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    background: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
    margin: 0px;
}

header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, serif;
    grid-area: 1/2/2/8;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
}

header h1 {
    line-height: 140%;
    padding: .5rem;
    background-image: url("images/utahtechlogo.svg");
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 1em;
    background-origin: content-box;
    margin: 0;

}

nav {
    font-weight: bold;
    background-color: #424242;
    grid-area: 2/2/3/8;
    position: sticky;
    top: 0;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
    transition: ease-out 0.5s;
}

nav a:hover {
    background-color: #BA1C21;
}

nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

nav ul li {
    width: 100%;
}

#homeHero {
    background-image: url("images/homehero.jpg");
    height: 300px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: 3/1/4/9;
}

#studentHero {
    background-image: url("images/studenthero.jpg");
    height: 300px;
    background-position: 50% 45%;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: 3/1/4/9;
}

#facultyHero {
    background-image: url("images/facultyhero.jpg");
    height: 300px;
    background-position: 50% 55%;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: 3/1/4/9;
}

#alumniHero {
    background-image: url("images/alumnihero.jpg");
    height: 300px;
    background-position: 50% 45%;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: 3/1/4/9;
}

#shopHero {
    background-image: url("images/shophero.jpg");
    height: 300px;
    background-position: 50% 45%;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: 3/1/4/9;
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
    grid-area: 4/2/5/8;
    background: #ffffff;
}

main img {
    float: right;
    padding-left: 2rem;
}

video {
    float: right;
    margin-left: 2rem;
}

form {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 200px 1fr;
    grid-gap: 0.75rem;
    width: 100%;
}

input,
textarea {
    font-size: 1rem;
    padding: 10px;
    color: #666666;
    background-color: #fafafa;
    border: none;
}

input:focus,
textarea:focus {
    outline: none;
    background-color: #f0f0f0;
}

label {
    padding: 10px;
    text-align: right;
}

#mySubmit {
    width: 10rem;
    grid-column: 2/3;
}

h2 {
    color: #424242;
    font-family: Georgia, serif;
}

h3 {
    color: #003058;
}

dt {
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

table {
    margin: 0 auto;
    border: 1px solid #424242;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
    border: 1px solid #424242;
}

td {
    text-align: center;
}

.text {
    text-align: left;
}

tr:nth-of-type(even) {
    background-color: #F3F3F3;
}

footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
    grid-area: 5/2/6/8;
}

#wrapper {
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

#shoppingcart {
    display: grid;
    grid-template-columns: auto auto auto;
}

#shoppingcart img {
    width: 100%;
    height: auto;
}

#bluebar {
    background-color: #003058;
    grid-area: 1/1/2/9;
}

#greybar {
    background-color: #424242;
    grid-area: 2/1/3/9;

}

@media only screen and (max-width: 1100px) {
    #wrapper {
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 150px)) minmax(0px, 1fr);
    }
}

@media only screen and (max-width: 900px) {
    nav {
        grid-area: 2/1/3/5;
        position: static;
    }

    nav ul {
        flex-flow: column nowrap;
    }

    #homeHero,
    #studentHero,
    #facultyHero,
    #alumniHero,
    #shopHero {
        grid-area: 2/5/3/8;
        height: auto;
    }

    video {
        float: none;
        margin: 0;
        width: 100%;
        height: auto;
    }

    main img {
        float: none;
        width: 100%;
        height: auto;
        padding-left: 0px;
    }

    #shoppingcart {
    grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 600px) {
    header h1 {
        background-image: none;
        text-align: center;
    }

    nav {
        grid-area: 2/1/3/9;
    }

    #homeHero,
    #studentHero,
    #facultyHero,
    #alumniHero,
    #shopHero {
        display: none;
    }

    main img {
        float: none;
        width: 100%;
        height: auto;
        padding-left: 0px;
    }

    #shoppingcart {
    grid-template-columns: auto;
    }
}